/**
 * Custom CSS for fetchtheleash.biz
 * Overrides base WordPress theme: Twentythirteen
 */

/**
 * SECTION: Colors
 * Based on: http://paletton.com/#uid=23g0u0khYkA44rEaTnNqQh5F8fv
 */
$base-color: #2C6561;
$button-color: #2C6561;
$lighter-color: #4D7572;
$contrast-color: #BE997D;
$darker-color: #4D7572;
$darkest-color: #004C46;
$link-color: #DCCCC0;


/**
 * SECTION: Mixins
 */
@mixin ftl-image-block($height: 550px) {
	padding: 20px;
	background-color: $contrast-color;
	font-size: 1em;
	color: #fff;
	position: relative;
	@media (min-width: 767px) {
		height: $height;
	}
}

@mixin ftl-image-block__header() {
	font-size: 2.5em;
}

@mixin ftl-image-block__body() {
	margin: 0 auto 42px auto;
	max-width: 1040px;
}

@mixin ftl-image-block__text() {
	max-width: 440px;
}

@mixin ftl-image-block__image($height: 550px, $position: 50%) {
	@media (min-width: 767px) {
		position: absolute;
		right: 0;
		top: 0;
	}

	img { // Should be an image of approx 460 x $height
		border: none;
		padding: 0;
		@media (min-width: 767px) {
			width: 260px;
			height: $height;
			object-fit: cover;
			object-position: $position;
		}
		@media (min-width: 1069px) {
			width: 460px;
		}
	}
}


/**
 * SECTION: General overrides
 */

.throwaway { display: none; } // apparently css plugin ignores the first rule

.site-title {
	color: #fff;
	margin-left: 100px;
	font-size: 1.4em;
	@media (min-width: 767px) {
		font-size: 50px;
		margin-left: 300px;
	}
}

.site-description {
	color: #fff;
	margin-left: 100px;
	font-size: 0.9em;
	display: none;
	@media (min-width: 480px) {
		display: block;
	}
	@media (min-width: 767px) {
		font-size: 30px;
		margin-left: 300px;
	}
}

.site-main {
	background-color: #fff;
}

article.page {
	padding: 0;
}

div.entry-content {
	max-width: 100%;
	margin: 0;
}

footer.entry-meta {
	margin: 0;
	max-width: inherit;
	background-color: $darker-color;
	color: #fff;
}

.entry-meta a {
	color: #fff;
}

.entry-content blockquote {
	margin: 0;
	text-align: center;
	padding: 10px 20px;
	background-color: $lighter-color;
	color: #fff;
	font-size: 1.2em;

	p {
		max-width: 1040px;
		padding: 0;
		margin: 0 auto 16px;
	}

	@media (min-width: 1069px) {
		padding: 60px 0;
	}
}

.site .site-header {
	background-image: url(https://ftlredesign.files.wordpress.com/2015/08/sniffing.png);
	background-repeat: repeat;
	background-size: 768px auto;
	@media (min-width: 359px) {
		background-size: cover;
	}
}

.site-header .home-link {
	background: url(https://ftlredesign.files.wordpress.com/2015/08/fetch-the-leash-dog-white.png) no-repeat scroll top;
	background-position: 40px;
	height: 50px;
	min-height: 50px;
	background-size: contain;
	margin: 0 auto 10px;
	@media (min-width: 767px) {
		min-height: 190px;
	}
}

@media (max-width: 643px) {
	#content .entry-content {
		padding: 0;
	}
}

// Hide page titles
.page .entry-header {
	display: none;
}

.nav-menu li a {
	color: #fff;
}

.nav-menu .current-menu-item a {
	color: $link-color;
	font-weight: 600;
	font-style: normal;
}

.navbar {
	background-color: $base-color;
}

.site-footer {
	background-color: $darkest-color;
}

.site-footer .sidebar-container {
	background-color: $darkest-color;
}

.site-footer .widget a,
.site-footer a {
	color: $link-color;
}

.entry-content img {
	display: block;
	margin: 0 auto;
	padding: 6px;
	border: 1px solid #ddd;
	@media (min-width: 767px) {
		max-width: 100%;
		display: inline-block;
	}
}

p {
	margin: 0 0 16px;
}

.ftl-contact .contact-form textarea {
	height: 100px;
}

.ftl-page {
	padding-top: 15px;
}


/**
 * SECTION: Buttons
 */
a.ftl-button {
	background: $button-color;
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
	border-radius: 10px;
	color: #ffffff;
	font-size: 1em;
	padding: 10px 20px;
	margin-bottom: 10px;
	text-decoration: none;
	text-align: center;
	display: block;

	@media (min-width: 767px) {
		font-size: 1.2em;
		display: inline-block;
	}
}

.ftl-button--hero {
	min-width: 97%;
	max-width: 200px;

	@media (min-width: 359px) {
		margin-right: 20px;
	}
	@media (min-width: 880px) {
		min-width: 30%;
		max-width: inherit;
	}
}


/**
 * SECTION: Hero block
 */
.ftl-hero {
	margin: 0 auto;
	max-width: 1040px;
	padding: 15px 20px;
	@media (min-width: 767px) {
		height: 450px;
	}
	@media (min-width: 1069px) {
		padding: 25px 0;
	}
}

.ftl-hero__text {
	padding: 15px 0;
	display: inline-block;
	text-align: left;
	font-size: 1.1em;
	@media (min-width: 767px) {
		max-width: 400px;
	}
	@media (min-width: 880px) {
		max-width: 600px;
	}
}

.ftl-hero > p {
	display: inline; // not sure if needed but WP seems to add a p around the img
}

.ftl-hero__image {
	@media (min-width: 767px) {
		position: absolute;
		right: 0;
		top: 0;
	}

	img { // Should be an image of approx 460 x 450
		border: none;
		padding: 0;
		@media (min-width: 767px) {
			width: 260px;
			height: 450px;
			object-fit: cover;
		}
		@media (min-width: 1069px) {
			width: 460px;
		}
	}
}

.ftl-hero__buttons {
	position: relative;
	margin: 0;
	vertical-align: top;
	text-align: left;
	@media (min-width: 767px) {
		max-width: 450px;
	}
	@media (min-width: 880px) {
		max-width: 600px;
	}
}


/**
 * SECTION: Training list
 */
.ftl-training-list {
	position: relative;
	margin: 0 auto;
	vertical-align: top;
	text-align: center;
	@media (min-width: 500px) {
		max-width: 1040px;
		margin: 0 auto;
	}
}

.ftl-training-list--walks {
}

.ftl-training-list__item {
	display: inline-block;
	padding: 0 20px;
	margin: 10px 0;
	vertical-align: top;
	@media (min-width: 880px) {
		width: 33%;
		max-width: 380px;
	}
	@media (min-width: 1069px) {
		padding: 0 10px;
	}
}

.ftl-training-list__item__buttons {
	margin: 30px auto;
}

a.ftl-button--training-list {
	width: 100%;
	padding: 10px 30px;
}

.ftl-training-list__item__header {
	display: block;
	width: 100%;
	text-align: center;
	font-weight: 400;
	font-size: 1.5em;
	padding: 2px;
}

.ftl-training-list__item__body {
	padding: 0;
	font-size: 1em;
	@media (min-width: 880px) {
		font-size: 1.2em;
		height: 250px;
		overflow: hidden;
	}
	@media (min-width: 1050px) {
		height: 200px;
	}
	@media (min-width: 1200px) {
		height: 170px;
	}
}

.ftl-training-list__item__body--long {
	@media (min-width: 880px) {
		font-size: 1em;
		text-align: justify;
	}
}

.ftl-training-list__notice {
	@include ftl-image-block(425px);
}

.ftl-training-list__notice__header {
	@include ftl-image-block__header();
}

.ftl-training-list__notice__body {
	@include ftl-image-block__body();
}

.ftl-training-list__notice__details {
	@include ftl-image-block__text();
}

.ftl-training-list__notice__image {
	@include ftl-image-block__image(425px, 50% 0%);
}

.ftl-policies {
	padding: 30px;
	max-width: 1040px;
	margin: 0 auto;

	@media (min-width: 1050px) {
		padding: 30px 0;
	}
}

.ftl-policies__header {
	font-size: 1.5em;
}


/**
 * SECTION: Training detail
 */
.ftl-training-detail {
	@include ftl-image-block;
}

.ftl-training-detail__body {
	@include ftl-image-block__body;
}

.ftl-training-detail__description {
	@include ftl-image-block__text;
}

.ftl-training-detail__header {
	@include ftl-image-block__header;
}

.ftl-training-detail__buttons {
	@media (min-width: 767px) {
		position: absolute;
		bottom: 30px;
	}
}

.ftl-training-detail__price {
	font-size: .9em;
	margin: 50px 0;
	max-width: 440px;
	line-height: 1.7em;
}

.ftl-training-detail__image {
	@include ftl-image-block__image;
}

a.ftl-button--schedule {
	max-width: 350px;
	@media (min-width: 767px) {
		margin-right: 10px;
	}
}

a.ftl-button--back-to-top {
	background-color: #D4D8D7;
	color: #555;
	max-width: 350px;
}


/**
 * SECTION: About
 */
img.ftl-about__image {
	width: 100%;
	max-width: 300px;
	margin: 0 20px;
	box-sizing: border-box;
	@media (min-width: 767px) {
		float: right;
	}
}

.ftl-about {
	position: relative;
	margin: 0 auto;
	vertical-align: top;
	font-size: 1.1em;
	display: block;
	text-align: left;
	max-width: 1040px;
	padding: 0 20px;
	@media (min-width: 1069px) {
		padding: 0;
	}

	p {
		text-align: left;
	}
}

/**
 * SECTION: Contact
 */
.ftl-contact {
	margin: 10px auto;
	max-width: 1040px;
	padding: 0 20px;
	@media (min-width: 1069px) {
		padding: 0;
	}
}

.ftl-contact__body {
	font-size: 1.5em;
}

.ftl-button--contact {
	margin-right: 20px;
}
